[alias]
    # Use aliases from the guide at https://developer.atlassian.com/blog/2015/05/the-power-of-git-subtree/
    # subtree add
    sba = "!f() { git subtree add --prefix $2 $1 master --squash; }; f"
    # subtree update
    sbu = "!f() { git subtree pull --prefix $2 $1 master --squash; }; f"
